# Virtual environment
venv/
.venv/

# Python cache
__pycache__/
*.py[cod]

# Model checkpoints
checkpoints/
*.pth
*.pt

# Jupyter checkpoints
.ipynb_checkpoints/# Ignore CSVs generated under data
data/**/*.csv
# Python bytecode
__pycache__/
*.py[cod]
*..class
# Ignore any egg-info dirs anywhere
*.egg-info/
# Python packaging artifacts
volsense.egg-info/
